{% extends 'base.html' %}
 
{% block title %}{% endblock %}

{% block content %}

<ul id="leftchapters">
          <li class="selected">Все категории</li>

          {% for cat in categories %}
                   <li><a href="#">{{cat.name}}</a></li>
          {% endfor %}
          
          <li class="share">
          <p >Наш канал</p>
          <a class="share-yt" href="..." target="_blank" rel="nofollow"></a>
          </li>
</ul>
<h3>Gap</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos beatae assumenda ea nulla error. Quia laboriosam quasi delectus. Eius accusantium obcaecati, tempore laborum sunt eligendi! Debitis saepe aliquam voluptatem quae explicabo quis necessitatibus molestias vero, nesciunt dolorum consectetur facilis quidem dolorem quas maxime nemo. Excepturi assumenda amet nostrum officia cum sit, tenetur porro in, neque aut nemo quos minus quisquam explicabo deserunt repellat! Magni nam, quae 
        officia, neque soluta animi sequi repudiandae molestiae temporibus quas mollitia minima voluptate minus, a iure. Ratione rem illum modi omnis! Vitae in quod tempora nostrum modi similique sint odio totam impedit illum aut, officiis earum ipsum, dolore delectus commodi laboriosam sit minima blanditiis eaque neque. Autem aspernatur, recusandae temporibus amet assumenda ea nam alias distinctio obcaecati eos eius, enim eveniet earum voluptatum doloremque error debitis. Vero, saepe. Cum placeat tempora 
        inventore atque vel reiciendis ipsam aspernatur! Nulla unde aspernatur odio quidem vel voluptates voluptatibus similique veniam vero dolorem, possimus eos quia dicta, debitis sequi, facilis molestias minus est nihil quas commodi officia sed. Sint laudantium optio sunt odit molestias eaque aspernatur temporibus pariatur dolorum velit exercitationem mollitia id, dolorem, corporis officia. 
        Cupiditate dicta culpa fuga nesciunt delectus repellendus odio, voluptate aperiam iusto alias expedita ipsam aspernatur distinctio. Aliquam sint, optio quas fuga, earum ut doloribus perspiciatis dolor dolores aliquid et id asperiores eum nemo consectetur. Consectetur voluptas, aut optio, alias distinctio laudantium voluptate praesentium quisquam possimus harum, omnis obcaecati 
        repellat velit saepe exercitationem. Libero optio fugit architecto tenetur perferendis, sunt temporibus velit unde molestiae ad quas consequuntur neque tempora nobis non quos suscipit laboriosam dolor numquam laborum quae? Vitae corporis, consectetur nobis eveniet libero hic, ab recusandae aliquam placeat quam debitis provident, aperiam consequatur assumenda? Rem pariatur consequuntur hic. At minus qui ratione architecto animi fuga voluptate mollitia, quaerat, cumque inventore quidem sequi.
    </p>
{% endblock %}